 body {
    background-color: rgb(196, 255, 255);
 }
 .dio {
    text-align: center;
 }
 .no1 {
    width: 300px;
    background-color: aliceblue;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 10px;
    margin: 7px;
}
.image{
    width: 300px;
}
.itcyber{
    font-size: small;
    color: aliceblue;
    background-color: blue;
    width: 120px;
    border-radius: 3px;
}
button{
    font-size: small;
    color: aliceblue;
    background-color: blue;
    width: 100px;
    border-radius: 3px;
}
.kabeh{
    display: flex;
}